<div class="global-footer container" >
            <p class="footer-top"><a href="{{ path('<front>') }}" rel="home" class="footer-top-a">
            {{ drupal_image(14) }}
            </a></p>
			       {{ drupal_menu('footer-menu')}}
            <div class="social-links">
              <ul>
                <li> {{ drupal_image(15) }}</li>
              </ul>
            </div>
            {{ content.body}}
</div>
